rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /files/{userId}/{appId}/{type}/{fileId}/{fileName}{
        allow read, write: if request.auth.uid == userId || request.auth.uid in resource.metadata.keys();
      }
  }
}