{
  "presets": [["@babel/preset-env", { "targets": { "esmodules": true } }]],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "controllers/*": "./controllers",
          "helpers/*": "./helpers",
          "middlewares/*": "./middlewares",
          "models/*": "./models",
          "routes/*": "./routes",
          "utils/*": "./utils",
          "databases": "./databases",
          "services/*": "./services"
        }
      }
    ],
    ["inline-json-import", {}]
  ]
}
